{% extends "base.html" %}

{% block content %}
  </div>
  <div style="margin-top: -0px; width: 100%; height: 45%; background-color: red">
    <a href="/wellness">
      <br>
      <br>
      <img style="display: block; margin-left: auto; margin-right: auto; width: 40%;" src="https://grmc.io/static/flask/imgs/weelness-check-daily-entry-01.png">
      <h3 style="text-align: center; text-decoration: none; color: white;">Daily Check-in</h3>
    </a>
  </div>
  <div style="width: 100%; height: 45%; background-color: #79afa3">
    <a href="/wellness-weekly">
      <br>
      <br>
      <img style="display: block; margin-left: auto; margin-right: auto; width: 40%;" src="https://grmc.io/static/flask/imgs/weelness-check-weekly-entry-01.png">
      <h3 style="text-align: center; text-decoration: none; color: white;">Weekly Check-in</h3>
    </a>
  </div>
<div class="container">
{% endblock %}
